@import "palette";

.sidebar {
	background-color: $sidebar-bg;
	color : $sidebar-fg;
}

.sidebar nav a {
	color : $sidebar-fg;
	text-decoration : None;
	padding: 5px;
	margin:0;
	&:hover {
		background-color: $nav-hover-bg;
		color: $nav-hover-fg;
	}

	&.active {
		background-color : $nav-active-bg;
		color : $nav-active-fg;
	}
}

.sidebar nav nav{
	color : $sidebar-fg;
	font-weight: bold;
	padding: 5px;
	margin:0;
	a {
		margin-left: 20px;
		color : darken($sidebar-fg, 7);
	}
}

