$gray : #677b8d;
$blue : #262b35;
$yellow : #E8DDB5;
$red : #EDAFB8;
$white : #FFFFFF;
$black : #333333;

$header-bg : $blue;
$header-fg : $white;

$sidebar-bg : $gray;
$sidebar-fg : $white;
$nav-hover-bg : $yellow;
$nav-hover-fg : $blue;
$nav-active-bg : $blue;
$nav-active-fg : $white;

$footer-bg : $blue;
$footer-fg : $white;
